<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://localhost/codeigniter/CI/public/css/style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js">  
    
  </script>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed top" aria-labelledby="Search by voice">
  <div class="container-fluid">
    <a class="navbar-brand1" href="#"><img src="http://localhost/codeigniter/CI/public/images/ADDY%20CARES.png" alt="Healthcare" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbardesign" label="Toggle navigation">
    <span class= "navbar-toggler-icon">
    </span>
    </button>

  <div class="collapse navbar-collapse" id="navbardesign">
    <ul class="navbar-nav">
      
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">About Us</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Network</a></li>
      <li><a class="dropdown-item" href="#">Remedies</a></li>
      <li><a class="dropdown-item" href="#">Awareness Camps</a></li>
    </ul>
    </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Problem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us &nbsp;</a>
      </li>
    </ul>
     <form class="d-flex" action="http://localhost/codeigniter/CI/public/index.php/signup" method="post">
     
        <input class="form-control me-8" type="search" placeholder= "How Can I Help You ?" label="Login">
        <button class="btn btn-outline-success" type="submit" style="margin-left: 20px;">LOGIN</button>
      </form>
      <nav class="navbar fixed-bottom navbar-dark bg-dark" aria-labelledby="you">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Fixed bottom</a>
        </div>
      </nav>
        </div>
      </nav>
    </div>
    <div class="container-fluid1">
      <marquee loop="2"> <b><i>The Greatest Wealth is Health.</i></b>&nbsp &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b><i>Keep Visiting Your Doctor After Fixed Intervals  of time.</i></b>  &nbsp &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b><i>Don't Put Your LIfe At Risk </i></b>  &nbsp &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b><i> Eat Healthy Stay Healthy </b></i> </marquee>      
    </div>

  
      <div class="main">
        <!--Carousel-->
        <div class="carousel slide" id="carocont" data-bs-ride="carousel">
            <!--Indicators-->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carocont" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carocont" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carocont" data-bs-slide-to="2"></button>
            </div>
            <!--Carousel block-->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block"  src="http://localhost/codeigniter/CI/public/images/slide1.jpg" alt="pic1" style="width:100%">
                <div class="carousel-caption">
                  <h4>BOOK &nbsp;YOUR &nbsp;APPOINTMENTS &nbsp;TODAY!</h4>
                  <p>Get your personalized appointments at Reasonable Prices!!</p>
                  <a href="http://localhost/codeigniter/CI/public/index.php/signup">
                  <div class="slider-button">
                    <button class="btn-1">Click Here</button>
                  </a>

                    <!-- <button class="btn-1">About Us</button> -->
                    </div>
                  </div>
                </div>
              
              <div class="carousel-item">
                <img class="d-block" src="http://localhost/codeigniter/CI/public/images/slide2.jpg" alt="pic2" style="width:100%">
              </div>
              <div class="carousel-item">
                <img class="d-block" src="http://localhost/codeigniter/CI/public/images/slide3.jpg" alt="pic3" style="width:100%">
              </div>
            </div>
            <!--Buttons-->
            <button class="carousel-control-prev" type="button" data-bs-target="#carocont" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carocont" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            </button>
</div>
        </div>
      </div>
        
        <!--Carousel end-->
      <!--Main end-->
      <div class="container4">
        <div class="row">
          <div class="col-md">
            <div class="container5">
              <div class="box1">
                <div class="justify-content-between">
              <h2><b>Why choose AddyCares?</b></h2>
              <p>AddyCares is a community  which serves for every individual who is in search of HELP!
                In Today's Era, Everyone is dealing with different kinds of health issues, so it's crucial to find a provider that fits your specific needs. </p>
                It provides us with numerous healthcare options being available for very minimal costs anytime just at one approach.  
                The primary purpose of AddyCares is to provide urgent medical attention to people who need it. 
                Having a face to face connection with patients also has a part to play in their recovery. The staff present at medical clinics not only treat patients, but they also counsel them on exercise, diet and benefits of the medication
               Patients who are chronically ill receive the preventive care they need. This allows for better disease management and control.
            </div>
            
        
          </div>
          </div>
        
            <div class="col-md">
            <div class="container5">
              <div class="box2">
            <h2> <b>AddyCare Services</b></h2>
            <ul>
              <li>Eyecare</li>
              <li>Diabetes Care</li>
              <li>Arthritis</li>
              <li>Cardio Therapy</li>
              </ul>
              <p>Apart from these basic services Addycares also provide basic 
                services like Mental Health related issues, Regualr Check-Ups.You just have to visit once oand get yourself fully checked.</p>
              </div>
              </div>
            
                       
          </div>
          
        
          <div class="col-md">
            <div class="container5">
              <div class="box3">
            <h2><b>Our Staff</b></h2>
            <p>Our AddyCare Family includes very old and experienced Doctors,Physicians,Therepists,Surgeons all together to serve the patients. 
               We have doctors who have following specialized qualities in them:</p><ul>
                <li>Treat patients as individuals and respect their dignity.</li>
                <!-- <li>Listen to, and respond to, their concerns and preferences.</li>   -->
                <li>Give patients the information they want or need in a way they can understand.</li>
                 </ul>
                 </div>
          
          </div>
          </div>
        </div>
        <div class="main1">
          <!--Carousel-->
          <div class="carousel slide" id="carocont" data-bs-ride="carousel">
              <!--Indicators-->
           
                </div>
        <div class="carousel-inner1">
          <div class="carousel-item active">
            <img class="d-block"  src="http://localhost/codeigniter/CI/public/images/photo-1529672425113-d3035c7f4837.avif" alt="pic1" style="width:100%">
            <div class="carousel-caption">
              <h1>PERSONALIZED &nbsp;TREATMENTS&nbsp;AVAILABLE</h1>
              <br>
              
              <h2>List of Treatments Available are as under:</h2>
              <a href="/codeigniter/CI/app/Views/diabetes.html">
              <div class="slider-button">
                <!-- <button class="btn-1">Click Here</button> -->
                <button class="button button1">Diabetes</button>
                <button class="button button2">Cardiac</button> 
                <button class="button button3">Cancer</button>
                <!-- <button class="button button2">Shadow on Hover</button>  -->
                                    
                
              </a>
              
             
                <a href="/codeigniter/CI/app/Views/diabetes.html">
                  <div class="slider-button">
                    <!-- <button class="btn-1">Click Here</button> -->
                
                  <button class="button button1">Arthritis</button>
                  <button class="button button2">Optical</button>
                  <button class="button button3">Dengue</button>  
                  <!-- <button class="button button2">Shadow on Hover</button>   -->
                </a>
                <!-- <button class="btn-1">About Us</button> -->
              
            </div>
                </div>
                </div>
          </div>
        </div>
          </div>
          </div>
                <div class="container-fluid1">
                  <marquee loop="2"> <b><i>The Greatest Wealth is Health.</i></b>&nbsp &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b><i>Keep Visiting Your Doctor After Fixed Intervals  of time.</i></b>  &nbsp &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b><i>Don't Put Your LIfe At Risk </i></b>  &nbsp &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b><i> Eat Healthy Stay Healthy </b></i> </marquee>      
                </div>
                <br>
                <br>
     
          
          


          
   


     
    
  
     
			      		
</body>
</html>